In [1]:
import pandas as pd

In [2]:
jobs = pd.read_csv("../data/fullsample.csv", nrows = 1000)
jobs.head(5)

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,30616928,RUNNING,2021-07-31T22:15:00,Unknown,2048Mn,0,10:04:00,67-22:14:22,1,1,production,0:0
1,30853133,COMPLETED,2021-08-06T11:36:09,2021-09-05T11:36:32,262144Mn,20604.62M,30-00:00:00,30-00:00:23,1,1,cgw-platypus,0:0
2,30858137,COMPLETED,2021-08-06T19:04:39,2021-09-05T19:04:53,204800Mn,57553.77M,30-00:00:00,30-00:00:14,1,32,cgw-tbi01,0:0
3,30935078,COMPLETED,2021-08-09T16:52:51,2021-09-07T20:52:55,65536Mn,20577.96M,29-04:00:00,29-04:00:04,1,8,cgw-platypus,0:0
4,31364111_2,COMPLETED,2021-08-17T07:45:07,2021-09-10T16:45:24,16384Mn,9733.43M,24-09:00:00,24-09:00:17,1,1,production,0:0

In [ ]:
jobs['BEGIN'] = pd.to_datetime(
    jobs['BEGIN'], 
    format = "%Y-%m-%d %H:%M:%S.%f",
    errors='coerce'
)
# FORMAT doesnt work for end makes them all NaT
jobs['END'] = pd.to_datetime(
    jobs['END'], 
    # format = "%Y-%m-%d %H:%M:%S.%f",
    errors='coerce'
)

In [11]:
jobs.head()

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,30616928,RUNNING,2021-07-31 22:15:00,NaT,2048Mn,0,10:04:00,67-22:14:22,1,1,production,0:0
1,30853133,COMPLETED,2021-08-06 11:36:09,2021-09-05 11:36:32,262144Mn,20604.62M,30-00:00:00,30-00:00:23,1,1,cgw-platypus,0:0
2,30858137,COMPLETED,2021-08-06 19:04:39,2021-09-05 19:04:53,204800Mn,57553.77M,30-00:00:00,30-00:00:14,1,32,cgw-tbi01,0:0
3,30935078,COMPLETED,2021-08-09 16:52:51,2021-09-07 20:52:55,65536Mn,20577.96M,29-04:00:00,29-04:00:04,1,8,cgw-platypus,0:0
4,31364111_2,COMPLETED,2021-08-17 07:45:07,2021-09-10 16:45:24,16384Mn,9733.43M,24-09:00:00,24-09:00:17,1,1,production,0:0

In [13]:
jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   JOBID      1000 non-null   object
 1   STATE      1000 non-null   object
 2   BEGIN      1000 non-null   datetime64[ns]
 3   END        999 non-null    datetime64[ns]
 4   REQMEM     1000 non-null   object
 5   USEDMEM    1000 non-null   object
 6   REQTIME    1000 non-null   object
 7   USEDTIME   1000 non-null   object
 8   NODES      1000 non-null   int64
 9   CPUS       1000 non-null   int64
 10  PARTITION  1000 non-null   object
 11  EXITCODE   1000 non-null   object
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 93.9+ KB